.Rproj.user
.Rhistory
.Ruserdata
.Rprofile
Data/input/GIS/
Output/
PESTS/
trash/
Data/input/GIS/EPPOadm_Borders_ms_simplified.prj
Data/input/GIS/EPPOadm_Borders_ms_simplified.shp
Data/input/GIS/g2015_2014_2_reshaped_0005.dbf
Data/input/GIS/EPPOadm_Borders_ms_simplified.dbf
Data/input/GIS/EPPOadm_Borders_ms_simplified.shx
Data/input/GIS/g2015_2014_0_reshaped_0005.dbf
Data/input/GIS/g2015_2014_0_reshaped_0005.shp
Data/input/GIS/g2015_2014_1_reshaped_0005.dbf
Data/input/GIS/g2015_2014_1_reshaped_0005.shp
C:\Users\maioran\Documents\Projects\Potential-establishment-KG\Output
packrat/lib*/
